html {
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  opacity: 0.9;
}

.navbar {
  position: fixed;
  top: 1px;
  display: block;
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid white;
  background-color: black;
  overflow: hidden;
  z-index: 2;
}
.navbar img {
  height: 3.5rem;
  margin-left: 15px;
}

.links {
  padding-right: 15px;
}

.links .link {
  color: seashell;
  text-decoration: none;
  float: right;
  margin: 20px 25px 15px 0px;
}

.s1 {
  background-image: url("/logo2/png/high-res.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #398378;
}
.s1 img {
  margin: auto;
  height: 100%;
  vertical-align: middle;
  display: flex;
  position: relative;
}

.s2 {
  background-color: #396983;
  font-family: "Playfair Display", serif;
}
.s2 img {
  border-radius: 50%;
  height: 35%;
  margin: 10% auto 0;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  background-color: #C9EFC7;
}
.s2 h3 {
  text-align: center;
  font-weight: bold;
}
.s2 p {
  text-align: center;
}

.s3 {
  background-color: #396983;
}

.s4 {
  background-color: #396983;
}

span {
  background: white !important;
}

.projectgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.pro1 {
  grid-area: 1/1/2/2;
}

.pro2 {
  grid-area: 1/2/2/3;
}

.pro1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projects-image {
  height: 90vh;
  width: 80%;
  margin-top: 3.5rem;
  box-sizing: border-box;
}

.pro2 {
  margin-right: 5rem;
  position: relative;
  justify-content: center;
}

.pro2 h2 {
  margin-top: 7rem;
  font-size: 2em;
  font-weight: bold;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
  align-items: center;
  display: flex;
  margin: auto;
}

.fp-controlArrow.fp-next {
  margin-right: 1.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#projects > div.fp-slidesNav.fp-bottom {
  margin-left: 45% !important;
}

#placeholder {
  height: 90vh;
  width: 80%;
  margin-top: 3.5rem;
  box-sizing: border-box;
}

.onegrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.one1 {
  grid-area: 1/1/2/2;
}

.one2 {
  grid-area: 1/2/2/3;
  margin-right: 5rem;
}

.one2 h2 {
  margin-top: 7rem;
}

.contactgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 1/2/2/3;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#contact-image {
  height: 90vh;
  width: 80%;
  margin-top: 3.5rem;
  box-sizing: border-box;
}

/* Add a background color and some padding around the form */
.div2 h2 {
  margin-top: 5rem;
  margin-bottom: 13px;
}

.container {
  margin-top: 0%;
  width: 90%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-bottom: 0.75rem; /* Bottom margin */
  resize: vertical;
}

form label {
  color: #f2f2f2;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}/*# sourceMappingURL=main.css.map */